<nav id='topnav'>
        <a href="/" class='desktop' id="logo"><img src="./assets/images/kh.png"></a>
        <a href="/" class="mobile"><img src="./assets/images/kh.png" id="logo"></a>
        <a onclick="toggle_visibility('navlist');" id="navtoggle" class="mobile"> <img src="./assets/images/menu-icon.png"> </a>
        <ul id="navlist" class="collapsing-navigation">
            <li><a class="navlink" href="#mission">our mission</a></li>
            <li><a class="navlink" href="#koolFold">the kool</a></li>
            <li><a class="navlink" href="#koolFold">our process</a></li>
            <li><a class="navlink" href="#hireus">hire us</a></li>
            <li><a class="navlink" href="http://inbitbox.com">→</a></li>
        </ul>
</nav>