/*** uncss> filename: http://localhost:4000/assets/style.css ***/
html{
    margin:0; /*?*/
    font-family: sans-serif; 
    box-sizing: border-box; /*?*/
    height: 100%; /*?*/
    width: 100%; /*?*/
    font-family: "Circular","Helvetica Neue", sans serif;

}
*, *:before, *:after { /*?*/
    box-sizing: inherit; /*?*/
    padding:0;
    margin:0;

}
body{           /*?*/
    height:100%; 
    margin: 0;
    padding: 0;
    width:100%;

}
.navlink{ /*?topNavLink*/
    color:black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    white-space: nowrap;
    margin: 3%;

}
    .navlink:hover{
        

    }
a{color:black}
    a:active{
        font-weight: bold;
    }
    a:hover{ font-weight: bold;
        transition: all .3s;}
address{
        display: inline;
}
#takeon{
    width:80%;
    margin: 0 auto;
}

.centered{
    text-align: center;
}
.banner-text{
    text-align: center;
    margin: 1%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    position:relative;
    padding:1%;
    border-radius: 3px;

}
.headliner{
    font-size: 100px;
    text-align: center;
    margin: 1%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.mission{
    color:#000000;
    font-size: 100px;
    text-align: center;
    background-color: white;
    margin: 1%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    top: 30%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;

}

.banner-box{
    text-align: center;
    position: relative;
    top: 10%;
    margin-right: auto;
    margin-left: auto;
}
.fold{
    width:100%;
    height:100%;
    margin: 0;
    background-size: cover;
    display: flex;
    flex-flow: wrap;
}
.row{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    justify-content: space-around;
}
.fold-1
{
    background: url("./images/nyny-D.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width:100%;
    height:100%;
    margin: 0;
}
#koolwebsites{
    background: url("./images/sparks.jpg") no-repeat center center;
    background-size: cover;
    position:relative;
    height: 100vh;
    justify-content: center;
}
#webprocess{
    flex-flow: row wrap;
}
.webprocessstep{
    padding:5%;
    margin:0;
    font-size: 20px;
}
.webprocessstep ul{
    margin: 2%;
    font-size: 20px;
    text-indent: .1em;
    list-style-position: inside;
}
.webprocessstep li{
    margin: 2%;
}
.tile .banner-text{
    font-size: 8vw;
}
.tile{
   
    background: url("./images/machine.jpg") no-repeat center center fixed;
}
.tileOverlay{
    width: 100%;
    height:100%;
    margin:0;
    background-color: rgba(251,176,64, .94);
    
}
#protractor{
    position: absolute;
    left:40%;
    image-orientation:90deg;
}
#koolFold{
    background-color: #26a69a;
    flex-flow: row wrap;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: "Roboto" "sans-serif";
}
#costFold{
    background-color: beige;
    justify-content: center;
}
#costFold > .row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding:1% 0;
    width: 80%;
    
}
.fold-2{
    display: flex;
    flex-flow: nowrap column;
    background-color: beige;
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

}
.cardList{

}
.cardListHeader{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 3%;
    padding-top: 20px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cardedList > li{
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    padding: 14px;
    margin: 0px;
    
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px;
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;
    font-size: 14px;
}
.cardText{
    
    font-size: 13px;
}
.card hr{    
    border-style: dotted;
    color: #e8e8e8;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}
.cardText > p{
    margin:3px 0px 3px 0px;
}
.cardText > h4{
    margin:2% 0 2% 0;
} 
ul.cardText{
    width: 100%;
    padding:0 16px;
    column-gap: 33px;
    list-style-position: outside;
}
ul.cardText>li{
    white-space: pre-line;
    padding: 0;
    width: auto;    
}

#takeon{
    position: relative;
    top:18%;
    width: 80%;
    font-size: 18pt;
    border-radius: 3px;
}
#webelieve{
    position: relative;
    width: 80%;
    height: fit-content;
    font-size: 18pt;
    border-radius: 3px;
}
#theKool{
    padding: 3%;
    background-color: #26a69a;
    color:white;
    position: relative;
    font-weight: 300;
    font-size: 16px;
    margin-right: 2%;
}
#theKool > h1{
    margin-bottom:5%;
    font-size: 48px;
}
#theKool > p{
    margin:0 2% 3% 0;
}
#atKoolhaus{
    margin:3% 0 0 0;
    padding:1%;
    font-size: 21px;
}

#ourprocess{
    font-size: 14px;
}
#ourprocess li{
    
}
#life{
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 76px;
    color:white;
    margin: 2% 0 2% 0;
}
.whitebox{
    background-color: white;
    border-radius: 3px;
    margin: 1%;
    padding:1.5%;
    border: 2px solid black;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    color:black;    
}
.bluebox{
    background-color: #232694;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    padding:1%;
    border-radius: 3px;
    color:beige;

}
.beigebox{
    background-color: beige;
    padding:1%;
    color:#942326;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    
}

.redbox{
    background-color: #942326;
    margin: 1%;
    padding:1%;
    color:#942326;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
#ourInfo{
    padding:3%;
}
.card{
    position: relative;
    display: inline-block;
    height: fit-content;
    margin: 5px 10px;
    padding: 0px;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #FAFAFA;
}
.cardHeader{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 5%;
    padding: 2%;
    font-weight: 600;
    box-shadow: none;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cardBody{
    margin:3%;
}
    .cardBody i{
        margin: 3% 0;

    }
.processCard{
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    font-weight: bolder;
    letter-spacing: .05em;
}
.processCard i{
    font-size: 2em;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    
}
.contactListHeader{

    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 3%;
    padding-top: 20px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
.contactListItem{
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    padding: 14px;
    margin: 0px;
    list-style: none;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px;
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;
    font-size: 18px;
}
#referral{
    text-align: center;
    border-style: dashed;
    border-radius: 8px;
    margin: 2%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    color:#232694;
    background-color:beige;

}

.money{
    font-size: 8em;
}

#contactUs{
    display: flex;
    flex-flow: nowrap column;
    padding:3%;
    border-radius: 8px;
    margin:1%;

}
#contactUs input{
    margin: 5% 2%;
    font-size: 18pt;
    width: 80%;
    outline: none;
    border:0;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 1px;
    background-color: beige;
}
#contactUs input:focus{
    outline: none;
    outline-width: 0;
    margin-bottom: 1px;
    border-bottom: 2px solid #26a69a;
    transition: all .3s;
}
#contactUs textarea{
    height: auto;
    border:0;
    margin: 3%;
    border-bottom: 2px solid black;
    width: 80%;
    background-color: beige;
    flex-grow: 2;
    
}
#contactUs textarea:focus{
    border:0;
    outline: none;
    outline-width: 0;
    border-bottom: 2px solid #26a69a;
    margin: 3%;
}

#contactUs button{
    margin: 3%;
    background-color:#26a69a;
    border:0;
    outline: none;
    padding:2%;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
#contactUS button::hover{
    box-shadow: 0 -16px 24px 2px rgba(0,0,0,0.14),0 -6px 30px 5px rgba(0,0,0,0.12),0 -8px 10px -5px rgba(0,0,0,0.3);
}
#socialfooter{
    display: flex;
}#socialfooter>*{
    line-height: 1;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    transition: all .3s;
}#socialfooter>*:hover{
    line-height: 1;
    text-shadow: rgba(0, 0, 0, .6) 4px 6px 8px;
}

@media screen and (min-width: 768px) {  
    .half{
    width:50%;
    display: flex;
    flex-flow: wrap column;
    }   
    .third{
    width:33%;
    display: flex;
    flex-flow: wrap column;
    }
    .fourth{
        width: 25%;
    }
    .sixth{
        width:16.67%;
    }
    .eighth{
        width: 12.5%;
    }
    .twelfth{
        width:8.34%;
    }
    .mobile{
        display: none;
    }
    #wrapper{
        margin: 0;
        padding:0;
        
        padding-top: 40px;
    }

    .cardText{padding:16px; font-size: 16px;}
    ul.cardText{
        padding:0 16px;
        column-count: 2;
        column-gap:37px;

    }

    .fold-1
    {
        background: url("./images/nyny-D.jpg") no-repeat center center fixed;
        background-size: cover;
        position: relative;
        width:100%;
        height:100vh;
        margin: 0;
    }
    .mission{
        padding: 0 6px;
    }
    .banner-box{
        top: -10%;
    }
    #webelieve{
        top:4%;
    }
    #theKool{
        left:8%;
        font-size: 22px;
    }
    #atKoolhaus{
        font-size: 21px;    
    }
    #ourprocess{
        width:38%;
        margin: 5%;
    }
    .fold-2{
        width: 100%;
        padding:5% 10%;
        display: block;
        margin: 0 auto;
        border-top: 1px solid transparent; /*stupid css hack*/
    }
    #takeon{
        position: relative;
        top:30%;
    }
    #actions{
        position: relative;
        top: 10%;
        display: flex;
        height: fit-content;
    }


    #wantto{
        position: relative;
        top:7%;
        margin-bottom: 0;
        
    }
    #socialfooter{

        justify-content: space-between;
        width: 462px;
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto; 
    }
    #socialfooter>*{

        font-size: 42px;
    }


  #topnav{
        width:100%;
        border-bottom: 1px solid black;
        background-color: white;
        padding: 5px 10px 0px 10px;
        position: fixed;
        z-index: 1;
        height: 58px;
        top:0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
  #logo{
    position:relative;
    left:31px;
    top:4px;
  }
  #logo>img{
    width:4%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
    #navlist{
        list-style: none;
        float:right;
        width: 40%;
        justify-content: space-between;
        display: flex;    
    }
    #topnav li{
        
        float:left;
        width:-moz-fit-content; 
        width:-webkit-fit-content; 
        display: inline-block;
        margin:2%;

        
    }
    
}
@media only screen and (max-width: 680px) { 
    #logo{
        width: 15%;
    }
    .collapsing-navigation li{ 
        display: none;       
        margin:2%;
    }
    #navlist{
        transition: all 170s ease-out;
    }
    #navlist li{
        display: block;
    }

}
@media (max-width: 480px) { 
    .row{
        flex-flow: column wrap;
    }
    input, textarea{ border-radius: 0;}
    #logo{
        padding:2% 0 0 2%;
    }
    #navlist{display: none;}
    #navtoggle{
        float: right;
    }
    #webelieve{
        top:4%;
        font-size: 1rem;
        height: 43%;        
    }
    #webprocess{
        background-attachment: local;
        background-size: 100%;
    }
        .webprocessstep{
            background-color:#ffd545;
        }

        .webprocessstep h2{
            font-size: 1.27em;
        }
    .third{
        width: 100%;
    }
    .fold-1{
        background-attachment: local;
        height: 100vh;
    }
    #koolFold{
        display: flex;
        flex-flow: column;
    }
    #atKoolhaus{
        text-align: center;
    }
    .mission{
        font-size: 13vw;
        line-height: 11vh;
        white-space: pre-line;
    }
    .banner-box{
        display: inline-flex;
    }
    #takeon{
        position: relative;
        top: 10%;
        width: 92%;
        font-size: 15pt;
        margin-bottom: 10px
    }
    .webprocessstep{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .webprocessstep h2.mobile, .webprocessstep h1{
        text-align: center;
        margin: 15% 0% 2% 0%;
    }
    .desktop{
        display: none;
    }
    #wantto{
        font-size: 13px;
    }
    #socialfooter{
        margin: 10px;
        width: 300px;
        justify-content: space-between;
        
    }#socialfooter>*{
        font-size: 36px;

    }
    .m1{order: 1;}
    .m2{order: 2;}
    .m3{order: 3;
        background-color: #75BBDE;
        color:#fff;

    }    
    .m4{order: 4;}
    .m5{order: 5;
        background-color: #ffd545;
        color:#000;
    }
    .m6{order: 6;}
    .m7{order: 7;
        background-color: #F9F9F9;
        color:#5F7378;
    }
    .m8{order: 8;}
    .process

}

@media (max-width: 736px) and (orientation: landscape) { /*Steve Died==>Iphone Plus*/
    #navlist{display: none;}
    #navtoggle{
        float: right;
    }
    .fold-1{
        background-attachment: local;
        height: 100vw;
    }
    .mission{
        font-size: 10vw;
        line-height: 25vh;

        
    }

    #logo{
        height: 50px;
        width: auto;
        margin: 1%;
    }
    .desktop{
        display: none;
    }
}
